<h2 class="mb-3">Historia</h2>

<p>
    La Universidad Privada Domingo Savio (UPDS) Sede Tarija fue establecida con la visión de convertirse en un referente
    de educación superior en el sur de Bolivia. Desde su fundación en **2004**, la sede de Tarija ha crecido y se ha
    expandido, adaptándose a las necesidades de la región y a los avances tecnológicos en la educación.
</p>

<p>
    Entre los principales hitos, destacan la apertura de las nuevas instalaciones en 2010, la acreditación de varias
    carreras en el ámbito nacional y la constante inversión en infraestructura y tecnología. La biblioteca, en
    particular, ha evolucionado de un acervo físico a un moderno centro de recursos de información, con la integración
    de bases de datos digitales y la implementación de sistemas avanzados para la gestión de documentos.
</p>

<p>
    En **2025**, implementamos este nuevo Sistema de Gestión Bibliotecaria para optimizar la circulación de materiales,
    el autoservicio, las notificaciones a los usuarios y el análisis de datos de uso. Esto nos permite sentar las bases
    para el futuro de los servicios bibliotecarios en nuestra universidad y ofrecer a la comunidad académica una
    plataforma de conocimiento más eficiente e inteligente.
</p>