<h2 class="mb-4">Objetivos y Metas</h2>

<ul class="ps-4 lh-lg mb-0">
    <li class="mb-3 d-flex">
        <i class="bi bi-dot fs-4 me-2 text-secondary"></i>
        <div>
            <strong>Fomentar una cultura de investigación</strong> impulsando el uso de bases de datos especializadas y
            proporcionando acceso a una vasta colección de recursos académicos.
        </div>
    </li>

    <li class="mb-3 d-flex">
        <i class="bi bi-dot fs-4 me-2 text-secondary"></i>
        <div>
            <strong>Promover la alfabetización informacional y digital</strong> con acceso gratuito a internet de alta
            velocidad, talleres de capacitación en el uso de herramientas de investigación y apoyo tecnológico
            personalizado.
        </div>
    </li>

    <li class="mb-3 d-flex">
        <i class="bi bi-dot fs-4 me-2 text-secondary"></i>
        <div>
            <strong>Apoyar la excelencia académica</strong> a través de un catálogo bibliográfico actualizado que se
            alinee con los programas de estudio de la universidad y proporcionando espacios de estudio y recursos para
            el éxito en exámenes y proyectos.
        </div>
    </li>

    <li class="mb-3 d-flex">
        <i class="bi bi-dot fs-4 me-2 text-secondary"></i>
        <div>
            <strong>Preservar y promover el patrimonio académico de la UPDS</strong> mediante la digitalización de
            tesis, trabajos de grado y documentos históricos relevantes, asegurando su disponibilidad para futuras
            generaciones.
        </div>
    </li>

    <li class="mb-3 d-flex">
        <i class="bi bi-dot fs-4 me-2 text-secondary"></i>
        <div>
            <strong>Fortalecer la cohesión de la comunidad universitaria</strong> ofreciendo servicios accesibles para
            todos, asegurando un ambiente inclusivo que facilite la colaboración y el intercambio de conocimientos entre
            estudiantes, docentes y personal administrativo.
        </div>
    </li>
</ul>