<h2 class="mb-3">Nuestros Servicios</h2>

<div class="row row-cols-1 row-cols-md-2 g-3">
    <div class="col">
        <h6>Colecciones Principales</h6>
        <ul>
            <li>Libros generales y de referencia</li>
            <li>Periódicos y revistas en tres idiomas</li>
            <li>Archivo de historia local de la Provincia Central</li>
            <li>Materiales en letra grande y Braille</li>
        </ul>
    </div>

    <div class="col">
        <h6>Recursos Digitales</h6>
        <ul>
            <li>Portales OPAC y de libros electrónicos</li>
            <li>Repositorio digitalizado de exámenes anteriores</li>
            <li>Wi-Fi público gratuito y laboratorio de computadoras</li>
            <li>Aplicación móvil para renovaciones y reservas</li>
        </ul>
    </div>

    <div class="col">
        <h6>Aprendizaje y Extensión</h6>
        <ul>
            <li>Hora del cuento y Makerspace para niños</li>
            <li>Cursos rápidos de informática para adultos mayores</li>
            <li>Mentoría para acceso universitario</li>
            <li>Clubes de lectura y festivales literarios</li>
        </ul>
    </div>

    <div class="col">
        <h6>Extras Comunitarios</h6>
        <ul>
            <li>Salas de estudio silenciosas y salones de reuniones</li>
            <li>Biblioteca móvil para zonas rurales</li>
            <li>Escaneo e impresión de documentos</li>
            <li>Ayuda de investigación "Pregúntale al Bibliotecario"</li>
        </ul>
    </div>
</div>
