@*
    _InfoModel.cshtml 
    Message of to display if an item exits.
*@
@{
}

<div class="modal fade" id="infoModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-body">
                <p id="infoText" class="fs-5"></p>
                <button type="button" class="btn btn-primary mt-3" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
