@*
    Success model to display saved successfully.
*@
@{
}

<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-body">
                <p id="successText" class="fs-5"></p>
                <button type="button" class="btn btn-primary mt-3" data-bs-dismiss="modal"
                    onclick="clearForm()">Aceptar</button>
            </div>
        </div>
    </div>
</div>
